body, html {
    margin: 0;
    padding: 0;
    width: 1196px;
    background: black;
}

@font-face {
    font-family: "Roboto";
    src: url('../css/roboto_condensed.ttf');   
}

*{
    font-size: 40px;
    font-family: "Roboto";
}




.fadein {opacity: 1;-webkit-transition: opacity 1s ease-in;}
.fadeout {opacity: 0;-webkit-transition: opacity 1s ease-out;}

.part{
    width: 1196px;
    height: 0px;
    overflow: hidden;
    position: relative;
}

#splash{
    height: 720px;
    width: 1196px;
    background: url('../images/splash_bg.png') center center no-repeat black;
}
#progressbar{
    height: 20px;
    width: 290px;
    border: 5px solid #ccc;
    margin-left: 448px;
    position: absolute;
    margin-top: 600px;
}
#progress{
    background: red;
    height: 10px;
    margin: 5px;
    width: 0;
}
#connection_btns{
    background: #222;
    padding: 50px;
    float: left;
    height: 620px;

}
#connection{
    height: 720px;
    width: 1196px;
    overflow: hidden;
}
#deviceList{
    border: 3px solid #ccc;
    padding: 10px 20px;
    background: #000;
    color: white;
    width: 350px;
    margin-bottom: 30px;

}
#connectButton,#listButton,#disconnectButton,#sendButton,#view{
    background: linear-gradient(to bottom, #666, #000, #222);
    padding: 15px 25px;
    border: 2px solid #ccc;
    color: white;
    border-radius: 5px;
    width: 300px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
#statusMessage{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#chat{
    padding: 50px;
    width: 642px;
    height: 620px;
    background: black;
    margin-left: 453px;
    border-left: 1px solid #ccc;
}
#message{
    padding: 15px 20px;
    width: 418px;
    background: #222;
    color: white;
    position: absolute;
    
}
#messages{
    background: #222;
    color: white;
    font-size: 25px;
    padding: 20px;
    position: absolute;
    width: 600px;
    height: 480px;
    margin-top: 100px;
}
#sendButton{
    position: absolute;
    right: 50px;
    width: 120px;
}

.command{
	width: 150px;
	height: 50px;
	border-radius: 10px;
	margin: 10px;
	display: inline-block;
	background: #ccc;
}
#sensor,#sensor_2,#sensor_3{
	width: 50px;
	height: 50px;
	opacity: 0.5;
	background: white;
	margin-left: 50px;
	display: inline-block;
}


#dash_container {
    background: url('../images/dash_bg.png') center center no-repeat black;
    height: 720px;
    width: 1196px;
}


#background{
	position: absolute;
	z-index: -1;
}
#dash {
    height: 720px;
    position: absolute;
    width: 1196px;
}
#temp {
    height: 170px;
    left: 945px;
    position: absolute;
    top: 30px;
    width: 170px;
}
#temp_text {
    color: white;
    font-size: 80px;
    left: 961px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 65px;
    width: 150px;
}
#speed {
    color: white;
    font-size: 300px;
    height: 270px;
    line-height: 250px;
    margin-left: 367px;
    margin-top: 400px;
    position: absolute;
    text-align: center;
    width: 450px;
}
#rpm {
    color: rgba(255, 255, 255, 0.5);
    font-size: 80px;
    margin-left: 442px;
    text-align: center;
    top: 20px;
    width: 300px;
}
#timestamp,#input_1,#input_2,#input_3{
	position: relative;
	color: white;
}
